## Scraping Data From Glassdoor

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
# problem: the website is not permitting to access the webpage directly, as it thinks that any bot is approaching the site. 
# hence, writing the below code to show them that the request is sent from the browser directly.

headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

web_page = requests.get('https://www.glassdoor.co.in/Reviews/index.htm?overall_rating_low=3.5&page=1&locId=2930179&locType=C&occ=Fresher', headers = headers).text

In [3]:
soup = BeautifulSoup(web_page, 'lxml')

In [4]:
company = soup.find_all('div', class_= 'row d-flex flex-wrap')

In [5]:
url = 'https://www.glassdoor.co.in/Reviews/index.htm?overall_rating_low=3.5&page=1&occ=Fresher'

In [ ]:
final1 = pd.DataFrame()

for j in range(1,1000):
    
    url = 'https://www.glassdoor.co.in/Reviews/index.htm?overall_rating_low=3.5&page={}&occ=Fresher'.format(j)
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

    web_page = requests.get(url, headers = headers).text

    soup = BeautifulSoup(web_page, 'lxml')
    company = soup.find_all('div', class_= 'row d-flex flex-wrap')
    

    company_name = []
    industry = []
    rating = []
    location = []
    review = []
    salary = []
    jobs = []
    comp_size = []


    for i in company:
        company_name.append(i.find('h2').text)
        rating.append(i.find('span', class_ = 'pr-xsm ratingsWidget__RatingsWidgetStyles__rating').text)
        industry.append(i.find_all('span', class_ = 'd-block mt-0 css-56kyx5')[2].text)
        location.append(i.find_all('span', class_ = 'd-block mt-0 css-56kyx5')[0].text)
        review.append(i.find_all('h3', class_ = 'mt-xsm mt-md-0')[0].text)
        salary.append(i.find_all('h3', class_ = 'mt-xsm mt-md-0')[1].text)
        jobs.append(i.find_all('h3', class_ = 'mt-xsm mt-md-0')[2].text)
        comp_size.append(i.find_all('span', class_ = 'd-block mt-0 css-56kyx5')[1].text)
        
    info = {'Company Name':company_name, 'Industry':industry, 'Rating':rating, 'Location':location, 'Reviews': review, 
        'Salary':salary, 'Available Jobs': jobs, 'Company Size':comp_size}
    
    df = pd.DataFrame(info)
    final1 = final1.append(df, ignore_index=True)

In [7]:
final1

,Company Name,Industry,Rating,Location,Reviews,Salary,Available Jobs,Company Size
0,Tata Consultancy Services,Computer Hardware Development,3.9,39 office locations,1.2L,1.2L,796,10000+ Employees
1,Accenture,Business Consulting,4.1,37 office locations,1.4L,71.3T,20.5T,10000+ Employees
2,Amazon,Internet & Web Services,4.2,65 office locations,1.6L,38.3T,13.9T,10000+ Employees
3,Cognizant Technology Solutions,Information Technology Support Services,3.9,27 office locations,83.1T,67.9T,4T,10000+ Employees
4,Deloitte,Accounting & Tax,4.1,33 office locations,93.8T,30.5T,58.6T,10000+ Employees
...,...,...,...,...,...,...,...,...
4926,KG Information Systems,N/A,3.6,"Headquarters in Coimbatore, India",109,131,16,1 to 50 Employees
4927,Jhon Deere,N/A,4.1,N/A,163,52,--,Unknown
4928,St. Regis Hotels,Hotels & Resorts,3.8,"Headquarters in Stamford, United States",321,36,30,5001 to 10000 Employees
4929,Sapphire Software Solutions (India),Information Technology Support Services,4.6,"Sapphire Software Solutions, C/102, Ganesh Mer...",184,31,--,51 to 200 Employees
4930,University of Alberta,Colleges & Universities,4.2,"Edmonton, AB",2T,--,272,10000+ Employees